<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>User Registration</h2>
      </div>
      <form class="col s12 black" #UserRegistrationForm="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input
              type="text"
              class="validate"
              name="FirstName"
              #FirstName="ngModel"
              [(ngModel)]="user.FirstName"
              required
            />
            <label data-error="Required Field!">First Name</label>
          </div>
          <div class="input-field col s6">
            <input
              type="text"
              class="validate"
              name="LastName"
              #LastName="ngModel"
              [(ngModel)]="user.LastName"
              required
            />
            <label data-error="Required Field!">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input
              type="text"
              name="UserName"
              #UserName="ngModel"
              [(ngModel)]="user.UserName"
              placeholder="Your Unique ID"
            />
            <label>UserName</label>
          </div>
          <div class="input-field col s6">
            <input
              type="password"
              name="Password"
              #Password="ngModel"
              [(ngModel)]="user.Password"
            />
            <label>Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input
              type="date"
              name="DOB"
              #DOB="ngModel"
              [(ngModel)]="user.DOB"
            />
            <label>DOB</label>
          </div>
          <div class="input-field col s6">
            <input
              type="text"
              name="Country"
              #Country="ngModel"
              [(ngModel)]="user.Country"
              required
            />
            <label>Country</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button
              class="btn btn-outline-success"
              [disabled]="!UserRegistrationForm.valid"
              type="submit"
              onclick="print()"
            >
              Sign-up
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
